<?xml version="1.0"?>
<!--
/**
 * Revest Contact - Module declaration
 *
 * @category  Revest
 * @package   Revest_Contact
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Revest_Contact" setup_version="1.0.0"/>
</config>